@import "{{ site.theme }}";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
  font-family: "Poppins", sans-serif;
}

:root {
  --main-color: #033a80;
  --bg-color: #FAF6F6;
  --text-color: #0f0c27;
  --hover: #ff4500;
  --big-font: 3.2rem;
  --medium-font: 1.8rem;
  --p-font: 0.941rem;
}

@keyframes intro1 {
  from {
    transform: translateX(20%);
    opacity: 0%;
  }
  to {
    transform: translateX(0);
    opacity: 100%;
  }
}
@keyframes intro2 {
  from {
    transform: translateX(-15%);
    opacity: 0%;
  }
  to {
    transform: translateX(0);
    opacity: 100%;
  }
}

section { padding: 50px 10%;}

body.active {
  --text-color: #fff;
  --bg-color: #0f0c27;
  overflow-x: hidden;
  height: 100vh;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

*::-moz-selection {
  color: var(--bg-color);
  background: var(--main-color);
}

*::selection {
  color: var(--bg-color);
  background: var(--main-color);
}

.heading { text-align: center;}

.heading h2 { font-size: 30px;}

.heading span {
  font-size: var(--p-font);
  color: rgb(2, 166, 70);
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--bg-color);
  padding: 13px 10%;
  transition: 0.2s;
  box-shadow: -3px -3px 7px rgba(255, 255, 255, 0.4509803922), 2px 2px 5px rgba(94, 104, 121, 0.288);
}

header.shadow {
  box-shadow: 0 0 4px rgba(14, 55, 54, 0.15);
}

.logo {
  font-size: 1.61rem;
  font-weight: 600;
  color: orangered;
}

.logo span {
  font-size: 1.61rem;
  font-weight: 600;
  color: #2f4f4f;
}

.home {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 0.2fr;
  grid-template-areas: 'one two three';
  align-items: center;
  gap: 1rem;
}

.home-img {
  grid-area: one;
  position: relative;
  z-index: 1;
  width: 90%;
  height: auto;
  margin: 0 auto;
  animation: intro1 0.5s;
  /*   filter: blur(20px); */
}

.pho-img {
  width: 80% !important;
  border-radius: 1rem !important;
}

.home-text span {
  font-size: var(--medium-font);
  font-weight: 500;
}

.home-text h1 { font-size: var(--big-font);}

.home-text h2 {
  font-size: 1.1rem;
  font-weight: 400;
}

.home-text{
  grid-area: two;
  z-index: 1;
}

.home .social,
.home .home-text{
  animation: intro2 0.8s;
}
.home-text p {
  font-size: var(--p-font);
  font-weight: 400;
  margin: 0.7rem 0 1rem;
}

.social {  
  grid-area: three;
  display: flex;
  flex-direction: column;
}

.social a {
  margin-bottom: 1rem;
  font-size: 22px;
  color: var(--text-color);
  transition: all 0.4s;
}

.social i{
  font-size: 2rem;
}
.social a:hover {
  color: var(--hover);
  transform: scale(1.1);
}

.btn {
  display: inline-block;
  background: #2f4f4f;
  color: #fff;
  padding: 0.7rem 1.3rem;
  border-radius: 0.5rem;
}

.btn:hover {
  background: var(--hover);
}

.copyright {
  width: 100%;
  position: fixed;
  bottom: 0;
  padding: 20px;
  background: darkslategray;
  text-align: center;
  color: #fff;
}

.copyright a {
  color: #22cf91;
}

.slate {
  color: darkslategray;
}

.org {
  color: #ff4500;
}


@media (max-width: 1200px) {
  :root {
    --big-font: 2.2rem;
    --medium-font: 1.6rem;
    --p-font: 1.2rem;
  }

}
@media (max-width: 1000px) {
  .home{
    padding: 10px 10px;
    gap: 5px;
    place-content: center;
    grid-template-columns: 50% 50%;
    grid-template-areas: 
    'one two'
    'one three';
  }
  .home-img{
    text-align: center; 
    width: 100%;
    height: auto;
  }
  :root {
    --big-font: 1.9rem;
    --medium-font: 1.5rem;
    --p-font: 1rem;
  }
  .social{
    flex-direction: row;
    justify-content: space-between;
    margin-right: 10px;

  }
  .btn{
    padding: 0.7rem 1.2rem;
    font-size: var(--p-font);
  }
  .social i{
    font-size: 2rem;

  }
  .copyright{
    font-size: var(--p-font);
    padding: 15px;
  }
}

@media (max-width: 414px) {
  .home{
    gap: 5px;
    grid-template-columns: 100%;
    grid-template-areas: 
    'one'
    'two'
    'three';
    padding: 0 5%;
  }
  .home-img{
    margin-top: 2rem; 
  }
  :root {
    --big-font: 1.55rem;
    --medium-font: 1.1rem;
    --p-font: 0.8rem;
  }
  .home-img{  
    text-align: center;
    margin-bottom: 1rem;
  }
  .social{
    flex-direction: row;
    justify-content: space-between;
  }
  .btn{
    padding: 0.7rem 1rem;
    font-size: var(--p-font);
    margin-bottom: 1rem;
  }
  .social i{
    font-size: 1.6rem;
  }
  .copyright{
    font-size: var(--p-font);
    padding: 15px;
  }
}


